.container{
    height: 420px;
    width: 660px;
    left: 50%;
    top: 50%;
    position: fixed;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
input{
    border: 1px solid grey;
    
}

input.ng-touched.ng-invalid{
    border:1px solid red;
   
}
input.submitted.ng-invalid{
    border:1px solid red;
   
}

input:focus{
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
a{
    color:#0d3880;
}

a:hover{
    text-decoration: underline;
}