<div class="container" style="padding:40px">
<div style="padding:20px" *ngFor="let number of [1,2,3,4,5,6,7,8,9,10]">
<div class="card">
    <a class="card-header mainCard mainStyle">Featured</a>
    <div class="card-body">
      <h3 class="card-title">Special title treatment</h3>
      <ul>
        <li>first item</li>
        <li>second item</li>
        <li>third item</li>
    </ul>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
   
    </div>
</div>
</div>
</div>
