<div  class="headerbar row" style="margin-left:0px;margin-right:0px;display:flex">
    <div style="width:30%;">
    </div>
    <div class="mainHeader row" style="width:40%;display:flex;justify-content: space-evenly;">
        <span [ngClass]="{'currentClicked':currentSelected==='jobs'}"  class="headertag">
            <div style="height:5px;width:100%"></div>
            <a (click)="clickItem($event)" id="jobs">Jobs</a>

        </span>
        <span [ngClass]="{'currentClicked':currentSelected==='courses'}"  class="headertag">
            <div style="height:5px;width:100%"></div>
            <a (click)="clickItem($event)" id="courses"  id="courses">Courses</a></span>
        <span [ngClass]="{'currentClicked':currentSelected==='business'}" class="headertag"> 
            <div style="height:5px;width:100%"></div>
            <a (click)="clickItem($event)" id="business"   id="business">Businesses for sale</a></span>
        <span [ngClass]="{'currentClicked':currentSelected==='volunteering'}"  class="headertag">
            <div style="height:5px;width:100%"></div>
              <a (click)="clickItem($event)" id="volunteer"  id="volunteering">Volunteering</a></span>
     
    </div>
    <div style="width:30%;display:flex" class="row">

        <span style="margin-left:60%" [ngClass]="{'currentClicked':currentCountry==='AUS'}"  class="headertag">
            <div style="height:5px;width:100%"></div>
              <a (click)="clickCountry($event)" id="AUS"  >AU</a></span>

              <span style="margin-left:5%" [ngClass]="{'currentClicked':currentCountry==='NZ'}"  class="headertag">
                <div style="height:5px;width:100%"></div>
                  <a (click)="clickCountry($event)" id="NZ"  >NZ</a></span>      
        
    </div>

    
</div>
