.profileDiv{
    width:100%;
    background-color: #3f51b5;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left:16%
}
h1{
     
    margin:0px 0px 0px;
    margin-bottom: 1%;
    color:white
}
.buttonEditProfile{
    border:1px solid white;
    background-color:transparent;
    border-radius:5px;
    padding-top:5px;
    padding-bottom:5px;
    
}
.h3small{
    color: white;
    margin: 0px 0px 0px;
    font-size: 14px;
    margin-top: 2%;
}

p{
    margin:0px 0px 0px;
    color:white
}

