<div *ngIf="showSavedSearchb" id="savedSearchb" style="margin-top:10%;background-color:white;width:100%;height:100%;position:absolute;z-index: 1100;">
    <button mat-button class ="btn1">
        <p class="pLeft" style="font-size:18px" >Job Search</p>
    </button>

    <button mat-button class ="btn1">
        <p class="pLeft" style="font-size:18px" [routerLink]="['/dashboard/profile']"  >Profile</p>
    </button>

    <button mat-button class ="btn1">
        <p class="pLeft" style="font-size:18px" >Career Advice</p>
    </button>

    <button mat-button class ="btn1">
        <p class="pLeft" style="font-size:18px" >Company Reviews</p>
    </button> 
</div>




<mat-menu #menu="matMenu" xPosition="before" >
    <div style="width:200px">
        <button [routerLink]="['/dashboard/profile']" mat-menu-item>Profile</button>
    </div>
    
    <div style="width:200px">
        <button mat-menu-item>Saved Searches</button>
    </div>

    <div style="width:200px">
        <button mat-menu-item>Saved Jobs</button>
    </div>

    <div style="width:200px">
        <button mat-menu-item>Applied Jobs</button>
    </div>

    <div style="width:200px">
        <button mat-menu-item>Recommended Jobs</button>
    </div>


    



</mat-menu>




<app-header></app-header>
<div class="row" style="height:78px;width:100%">
    <div class="col-md-6" id="hideBar">
        <div id="menuOpen" class="container row" style="display:flex;justify-content: flex-end;margin-top:2%">
            <p style="color:white">Menu</p>
            <img id="menuImage"  (click)="rotateimage('menuImage')" class="spinimage spinimage1" src="/assets/bluearrow.png" style="height:15px;margin-left:1%;margin-top:2px">
            <!-- <img style="margin-left:18%;margin-top:2%" src="/assets/seekpic.png"> -->
        </div>

   

    </div>

    
    
    <div class="col-md-6 row" id="divBar">
        <div *ngIf="showSignInBar" class="row" style="margin-top:4%;margin-left:30%">
            <a [routerLink]="['/login']" class="signIn">Sign in </a>
            <p class="signIn" style="padding-left:5px;padding-right:5px">or </p>
            <a [routerLink]="['/register']" class="signIn">Register</a>
            <div style="width:34px;height:2px"></div>
            <a class="signIn">Employer site</a>
        </div>


        <div *ngIf="!showSignInBar" class="row" style="margin-top:4%;margin-left:30%">
            <p class="signIn" style="color:black;padding-left:5px;padding-right:5px">{{username}}</p>
            <button class="menuButton" >
                <img id="mainarrow" (click)="toggleImage()" class="spinimage spinimage1" src="/assets/whitearrow.png" style="height:25px">
            </button>
            <div style="width:34px;height:2px"></div>
            <a class="signIn">Employer site</a>
        </div>

        <div appHidesideSecond id="sideWindow1" class="relevancePopup hide">
            <button (click)="redirectTab('profile')" mat-button class="btn1">
                <p class="pLeft" style="font-size:18px" >Profile</p>
            </button>
            <button mat-button class ="btn1">
                <p class="pLeft" style="font-size:18px" >Saved Searches</p>
            </button>
            <button mat-button class="btn1">
                <p class="pLeft" style="font-size:18px" >Saved Jobs</p>
            </button>
            <button mat-button class="btn1">
                <p class="pLeft" style="font-size:18px" >Applied Jobs</p>
            </button>
            <button mat-button class="btn1">
                <p class="pLeft" style="font-size:18px" >Recommended Jobs</p>
            </button>

            <button mat-button class="btn1">
                <p class="pLeft" style="font-size:18px" (click)="logoutUser()" >Logout</p>
            </button>

        
            
          
        </div> 
        
        
   

    </div>
    
</div>
<div *ngIf="!showSavedSearchb" id="rowpadding1" class="row padding" style="width:100%;height:48px">

    <div class="col-md-1 padding" ></div>
    <div class="container col-md-10" style="width:100%;height:48px">

        <div id="mainBar" class="row" >
            <div id="jobsearchbutton"  [routerLink]="['/dashboard/jobsearch/jobs']" [ngClass]="{'selectedColor':selectedTab==='job'}" (click)="changeMainColor('job')" style="text-align:center;height:48px" class="col-md-3 padding">
                <p class="tabBar">Job Search</p>
            </div>
            <div id="profileTab" [routerLink]="['/dashboard/profile']" [ngClass]="{'selectedColor':selectedTab==='profile'}" (click)="changeMainColor('profile')" style="text-align:center;height:48px" class="col-md-3 padding">
                <p class="tabBar">Profile</p>
            </div>
            <div  [routerLink]="['/dashboard/careeradvice']" [ngClass]="{'selectedColor':selectedTab==='career'}" (click)="changeMainColor('career')" style="text-align:center;height:48px" class="col-md-3 padding">
                <p class="tabBar">Career Advice</p>  
            </div>
            <div  [ngClass]="{selectedColor:selectedTab==='company'}" (click)="changeMainColor('company')" style="text-align:center;height:48px" class="col-md-3 padding">
                <p class="tabBar">Company Reviews</p>
            </div>
    
        </div>

    </div>
    
    <div class="col-md-1 padding" ></div>

</div>
<div *ngIf="showSavedSearchb" style="width:100%;height:10px;background-color: #0d3880;">
</div>



<router-outlet *ngIf="!showSavedSearchb"></router-outlet>
