<mat-menu #menu="matMenu" xPosition="before">
    <div style="width:200px">
        <button mat-menu-item>Profile</button>
    </div>
    
    <div style="width:200px">
        <button mat-menu-item>Saved Searches</button>
    </div>

    <div style="width:200px">
        <button mat-menu-item>Saved Jobs</button>
    </div>

    <div style="width:200px">
        <button mat-menu-item>Applied Jobs</button>
    </div>

    <div style="width:200px">
        <button mat-menu-item>Recommended Jobs</button>
    </div>
</mat-menu>




<app-header></app-header>
<div class="row" style="height:78px;width:100%">
    <div class="col-md-6" >
        <div class="container">
            <!-- <img style="margin-left:18%;margin-top:2%" src="/assets/seekpic.png"> -->
        </div>

   

    </div>
    <div class="col-md-6 row" >
        <div *ngIf="showSignInBar" class="row" style="margin-top:4%;margin-left:30%">
            <a [routerLink]="['/login']" class="signIn">Sign in </a>
            <p class="signIn" style="padding-left:5px;padding-right:5px">or </p>
            <a [routerLink]="['/register']" class="signIn">Register</a>
            <div style="width:34px;height:2px"></div>
            <a class="signIn">Employer site</a>
        </div>


        <div *ngIf="!showSignInBar" class="row" style="margin-top:4%;margin-left:30%">
            <p class="signIn" style="color:black;padding-left:5px;padding-right:5px">{{username}}</p>
            <button class="menuButton" mat-button [matMenuTriggerFor]="menu">
                <img id="mainarrow" (click)="toggleImage()" class="spinimage spinimage1" src="/assets/whitearrow.png" style="height:25px">
            </button>
            <div style="width:34px;height:2px"></div>
            <a class="signIn">Employer site</a>
        </div>
        
   

    </div>
    
</div>
<div class="row padding" style="width:100%;height:48px;background-color: #eee;">

    <div class="col-md-1 padding" ></div>
    <div class="container" style="width:100%;height:48px">

        <div id="mainBar" class="col-md-10 row" >
            <div id="jobsearchbutton"  [routerLink]="['/dashboard/jobsearch/jobs']" [ngClass]="{'selectedColor':selectedTab==='job'}" (click)="changeMainColor('job')" style="text-align:center;height:48px" class="col-md-3 padding">
                <p class="tabBar">Job Search</p>
            </div>
            <div [routerLink]="['/dashboard/profile']" [ngClass]="{'selectedColor':selectedTab==='profile'}" (click)="changeMainColor('profile')" style="text-align:center;height:48px" class="col-md-3 padding">
                <p class="tabBar">Profile</p>
            </div>
            <div  [routerLink]="['/dashboard/careeradvice']" [ngClass]="{'selectedColor':selectedTab==='career'}" (click)="changeMainColor('career')" style="text-align:center;height:48px" class="col-md-3 padding">
                <p class="tabBar">Career Advice</p>  
            </div>
            <div  [ngClass]="{selectedColor:selectedTab==='company'}" (click)="changeMainColor('company')" style="text-align:center;height:48px" class="col-md-3 padding">
                <p class="tabBar">Company Reviews</p>
            </div>
    
        </div>

    </div>
    
    <div class="col-md-1 padding" ></div>

</div>
<router-outlet></router-outlet>
