/* You can add global styles to this file, and also import other style files */
body{
    margin:0px;
    overflow-x: hidden;
}
p{
    margin-block-start: 0px;
    margin-block-end: 0px;
}
.row{
    margin-left:0px;
    margin-right: 0px;
}
*:focus {
    outline: 0;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
