<h3>Edit Personal Details</h3>
<form [formGroup]="personalForm" (ngSubmit)="onSubmit()">
    <div style="overflow-y:scroll" class="scrollDiv">
    <div class="row">

        <div class="col-md-6">
            <div class="form-group">
                <label for="exampleInputEmail1">First Name</label>
                <input formControlName="firstname" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter first name">
            </div>

        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Last Name</label>
                <input formControlName="lastname" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter last name">
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="exampleInputEmail1">Lives in</label>
                <input formControlName="livesin" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Location">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="exampleInputEmail1">Country Code</label>
                <input formControlName="code" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Country code">
            </div>
        </div>


        <div class="col-md-8">
            <div class="form-group">
                <label for="exampleInputEmail1">Number</label>
                <div class="container row containerPhone" [ngStyle]="{'border':this.personalForm.get('phone').status==='INVALID'  &&   this.personalForm.get('phone').touched != false? '1px solid red':'1px solid #ced4da'}">
                    <!-- <div style="width:20%;border-right:1px solid grey" >
                    </div> -->
                    <div style="width:100%;padding:0.5px" class="row">
                        <input formControlName="phone" style="border:0px;width:20%;border-right:1px solid grey;border-radius:0px" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <input formControlName="phone" style="border:0px;width:80%" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Phone number">
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    </div>




 





 
 
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
