.mainColor{
    background-color:#0d3880;
    position:relative;
    
}

.removepadding{
    padding-left:0px;
    padding-right:0px;
}

.marginTop{

    margin-top:1%;
    max-width: 300px;

}

.flexbox{
   
    justify-content: space-evenly;
 
}

.button{
    height: 44px;

    
}

.flexContainer {
    display: flex;
    justify-content:space-between;
}

.inputField {
    flex: 1;
}

.cross{
    cursor: pointer;
    margin-top: 25%;
    margin-left: 25%;
}

@media only screen and (max-width: 1000px) {
    #seekButton {
      margin-top: 1%;
    }
    #moreOptions{
        display: none;
    }
    #moreOptions1{
        display: none;
    }
  }

  .a1{
      color:#007bff
  }

  .image{
      width:940px;
      height:300px;
      background-image: url('/assets/seekimage.png');
  }

  .top1{
    background:linear-gradient(90deg,#afcac9 50%,#d2dde1 0)
  }
  .spanpadding{
      padding:10px;
      border-left: 1px solid white;
      margin-top: 6px;
      width:15%
  }
 

.spinimage1{
    transform: rotate(180deg);
    transition: transform .3s
    }

    .smalldiv1{
        border:1px solid white;
        border-top-left-radius:5px  ;
        border-bottom-left-radius: 5px ;
        padding:10px

    }
    .smalldiv2{
        border:1px solid white;
        border-top-right-radius:5px  ;
        border-bottom-right-radius:5px;
        padding:10px

    }

    .smalldiv{
        border:1px solid white;
        padding:10px;
 
    }
    .selectedDefault{
        color:white;
    }

    .selectedDiv{
        background-color: white;
    }
    .selectedText{
        color: black;
    }
    .scroll{
        overflow-y: scroll;
        max-height: 300px;
    }

    .shortenpadding{
        padding-left: 2.5px;
        padding-right: 2.5px;
    }
    .spinimage
{
     outline: 0;
     height:20px;
     transition: transform .3s;
     z-index:0;
     position:relative

}
.inputFieldSecond{
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSf8pHlkvCtr4cucC_vIsZl0N4XSq1B71Rdnrl0ggslqhfUSaojR94eiz7ToMZZARgNRPU&usqp=CAU') no-repeat scroll 7px 7px;
    background-size:15px;
    background-position:right;
    cursor:pointer;
    

}
  