
<ng-template #sayHello1>
    <div  id="popa2" style="width:100%;position:absolute;z-index:10" [hidden]="!showJobList1" class="scroll">

        <ul appDisableDiv  class="list-group">

            <li  (click)="assignKeyword(item,$event)" appHighlight *ngFor="let item of jobSearchKeywordsList;index as i" name="simon2" [attr.id]="'option1'+i" class="list-group-item">{{item.name}}</li>
           
        </ul>

    </div>
   
</ng-template>

<ng-template #sayHello2>
    <div id="popa3" style="width:100%;position:absolute;z-index:10" [hidden]="!showJobList2" class="scroll">

        <mat-selection-list *ngFor="let item of jobClassArray"  name="list1" style="background-color: white;" #shoes>
            <mat-list-option name="list-option" (click)="pushToArray(item)">
                {{item.name}}
            </mat-list-option>
            
        </mat-selection-list>

    </div>
    
</ng-template>
<ng-template #sayHello3>
    <div id="popa4" style="width:100%;position:absolute;z-index:10" [hidden]="!showJobList3" class="scroll">

        <ul appDisableDiv3  class="list-group">
            <li  (click)="assignLocation(item,$event)" appHighlight *ngFor="let item of jobKeyRegions;index as i" name="simon2" [attr.id]="'option2'+i" class="list-group-item">{{item.name}}</li>            
        </ul>

    </div>
    
</ng-template>

<div class="mainColor row" style="width:100%">
    
    <div class="col-md-12 row" style="position:relative;z-index:10;padding:5%">

        
        
        <!-- <div class="row" style="width:5%">
        </div> -->


        <div class="container" style="display:flex;width:100%">

            <div style="width:100%">
                <!-- <div class="row" style="max-width:1014px;width:100%">
        
                </div> -->
            
                <div class="row flexbox container-fluid" style="position:relative;width:100%;z-index:0">
                    <div class="col-md-3 shortenpadding">
                        <strong style="color:white">What</strong>
                        <div class="flexContainer form-control" style="width:100%;height:44px;background-color: white;">
                        <input autocomplete="off" id="popa" (click)="keyJob('sayHello1')" name="keywordJob" #keywordJob (input)="jobSearch($event)" (keyup)="JobeventHandler($event)"   placeholder="Enter Keywords" class="inputField" type="text" style="width:90%;border:0px">
                        <div id="jobForm" [hidden]="!keywordLength" style="width:10%;height:100%">
                            <i (click)="removeText('keywordJob')"  class="cross fa fa-times" aria-hidden="true"></i>
                        </div>
                        
                        </div>
                        <ng-container   *ngTemplateOutlet="sayHello1">
                        </ng-container> 

                    </div>
                    <div class="col-md-3 shortenpadding">
                        <strong style="color:white">Type</strong>
                        <div class="flexContainer form-control" style="width:100%;height:44px;background-color: white;">
                            <input autocomplete="off"  appDisableDiv2 (click)="keyJob('sayHello2')" (input)="jobSearch($event)" name="keywordType" #keywordType placeholder="Any Classification"  type="text" style="width:90%;border:0px;">
                            <div (click)="removeText('keywordType')"  [hidden]="!keywordTypeLength" style="width:10%;height:100%" class="inputFieldSecond">
                            
                            </div>
                            
                        </div>
                        <ng-container   *ngTemplateOutlet="sayHello2">
                        </ng-container> 

                    </div>
                    <div class="col-md-3 shortenpadding">
                        <strong style="color:white">Where</strong>
                            <div class="flexContainer form-control" style="width:100%;height:44px;background-color: white;">
                                <input autocomplete="off"  (click)="keyJob('sayHello3')" (input)="jobSearch($event)" (keyup)="JobeventHandler($event)" name="keywordRegion" #keywordRegion  placeholder="Suburb,city or region" class="inputField" type="text" style="width:90%;border:0px">
                                <div [hidden]="!keywordRegionLength" style="width:10%;height:100%">
                                    <i (click)="removeText('keywordRegion')"   class="cross fa fa-times" aria-hidden="true"></i>
                                </div>
                                
                            </div>
                            <ng-container   *ngTemplateOutlet="sayHello3">
                            </ng-container> 

                    </div>
                    <div class="col-md-3 shortenpadding">
                        <div style="display:flex;flex-direction:column;align-items: flex-end;">
                            <div style="width:23px;height:22px"></div>
                            <!-- <i class="fa fa-question" style="color:white;font-size:23px"></i> -->
                                <button (click)="enterJobsearch($event)" id="seekButton" style="width:100%;background-color:#e60078;border:0px"  type="button" class="button btn btn-primary">Primary</button>
                                <div class="row" style="display:flex">
                                    <p id="moreOptions"  *ngIf="!showOptions" (click)="expandOptions()" style="color:white;font-size:13px">More Options</p>
                                  
                                    <i id="moreOptions1" *ngIf="!showOptions" style="color:white" class="fa fa-arrow-down" aria-hidden="true"></i>
                                </div>
                                
    
                        </div>
                    </div>
                    <!-- <div class="col-md-3" style="display:flex;flex-direction:column;align-items: flex-end;">
                        <i class="fa fa-question" style="color:white;font-size:23px"></i>
                            <button id="seekButton" style="width:100%;background-color:#e60078;border:0px"  type="button" class="button btn btn-primary">Primary</button>
                            <div class="row" style="display:flex">
                                <p *ngIf="!showOptions" (click)="expandOptions()" style="color:white;font-size:13px">More Options</p>
                              
                                <i *ngIf="!showOptions" style="color:white" class="fa fa-arrow-down" aria-hidden="true"></i>
                            </div>
                            

                    </div> -->
                    
                    
                    
                    
                    <!-- <div style="width:29%">
                        <strong style="color:white">What</strong>
                        <div class="flexContainer form-control" style="width:100%;height:44px;background-color: white;">
                        <input id="popa" appDisableDiv (click)="keyJob('sayHello1')" name="keywordJob" #keywordJob (input)="jobSearch($event)"  placeholder="Enter Keywords" class="inputField" type="text" style="width:90%;border:0px">
                        <div id="jobForm" [hidden]="!keywordLength" style="width:10%;height:100%">
                            <i (click)="removeText('keywordJob')"  class="cross fa fa-times" aria-hidden="true"></i>
                        </div>
                        
                        </div>
                        <ng-container   *ngTemplateOutlet="sayHello1">
                        </ng-container> 
                    </div>
        
        
                    <div style="width:29%">
                        <strong style="color:white">Type</strong>
                        <div class="flexContainer form-control" style="width:100%;height:44px;background-color: white;">
                            <input appDisableDiv2 (click)="keyJob('sayHello2')" (input)="jobSearch($event)" name="keywordType" #keywordType placeholder="Any Classification" class="inputField" type="text" style="width:90%;border:0px">
                            <div [hidden]="!keywordTypeLength" style="width:10%;height:100%">
                                <i (click)="removeText('keywordType')"   class="cross fa fa-times" aria-hidden="true"></i>
                            </div>
                            
                        </div>
                        <ng-container   *ngTemplateOutlet="sayHello2">
                        </ng-container> 
                    </div>
        
                    <div style="width:29%">
                            <strong style="color:white">Where</strong>
                            <div class="flexContainer form-control" style="width:100%;height:44px;background-color: white;">
                                <input appDisableDiv3  (click)="keyJob('sayHello3')" (input)="jobSearch($event)" name="keywordRegion" #keywordRegion  placeholder="Suburb,city or region" class="inputField" type="text" style="width:90%;border:0px">
                                <div [hidden]="!keywordRegionLength" style="width:10%;height:100%">
                                    <i (click)="removeText('keywordRegion')"   class="cross fa fa-times" aria-hidden="true"></i>
                                </div>
                                
                            </div>
                            <ng-container   *ngTemplateOutlet="sayHello3">
                            </ng-container> 
                    </div>
                    <div style="width:13%" style="display:flex;flex-direction:column;align-items:flex-end">
                            <i class="fa fa-question" style="color:white;font-size:25px"></i>
                            <button id="seekButton" style="width:100%;background-color:#e60078;border:0px"  type="button" class="button btn btn-primary">Primary</button>
                            <br>
                            <div class="row" style="display:flex;justify-content:space-evenly">
                    class="col-md-3"             <p *ngIf="!showOptions" (click)="expandOptions()" style="color:white;font-size:13px">More Options</p>
                              
                                <i *ngIf="!showOptions" style="color:white" class="fa fa-arrow-down" aria-hidden="true"></i>
                            </div>
                            
                    </div> -->
                  
        
                    
                    
                </div>
                
            </div>
           
            
        </div>
       
       
      
        <!-- <div class="row" style="width:5%"></div> -->
       

    </div>
    
</div>
<div *ngIf="showOptions" class="row" style="display:flex;width:100%;height:70px;background-color: #042763;">
    <div style="height:56px;width:7%">
    </div>
    <div style="height:56px;width:83%">
        <div class="container" style="display:flex;align-items:flex-start;height:56px;">
            <div class="row spanpadding" style="display:flex;flex-wrap:nowrap;height:56px;justify-content: space-evenly;">
                <p style="color:white">All work types</p>
                <img style="position:relative;z-index:0" id="image1" (click)="rotateimage('image1')" class="spinimage spinimage1" src="/assets/arrowdown.png">
            </div>
            
            <div class="row spanpadding" style="display:flex;flex-wrap:nowrap;height:56px;justify-content: space-evenly;">
                <p style="color:white">Paying$0</p>
                <img id="image2" (click)="rotateimage('image2')" class="spinimage spinimage1" src="/assets/arrowdown.png">
            </div>
            
            <div class="row spanpadding" style="display:flex;flex-wrap:nowrap;height:56px;justify-content: space-evenly;">
                <p style="color:white">to$200k+</p>
                <img id="image3" (click)="rotateimage('image3')" class="spinimage spinimage1" src="/assets/arrowdown.png">
            </div>
            
            <div class="row spanpadding" style="border-right: 1px solid white;display:flex;flex-wrap:nowrap;height:56px;justify-content: space-evenly;">
                <p style="color:white">listed anytime</p>
                <img id="image4" (click)="rotateimage('image4')" class="spinimage spinimage1" src="/assets/arrowdown.png">
            </div>
            

        </div>
    </div>
    <div style="height:56px;width:13%">
    </div>
</div>


<div *ngIf="showWorkType" class="row" style="width:100%;height:70px;background-color: #042763;">
    <div style="height:56px;width:7%">
    </div>
    <div style="height:56px;width:83%">
        <div class="container" style="width:100%" class="row">
            <div (click)="clickingDiv('Full Time')" [ngClass]="{'selectedDiv':clickedDiv==='Full Time'}" class="smalldiv1" style="width:25%;display:flex;justify-content: space-evenly;">
                <span class="selectedDefault" [ngClass]="{'selectedText':clickedDiv==='Full Time'}" >Full Time</span></div>
            <div [ngClass]="{'selectedDiv':clickedDiv==='Part Time'}"  (click)="clickingDiv('Part Time')" class="smalldiv"  style="width:25%;display:flex;justify-content: space-evenly;"><span class="selectedDefault" [ngClass]="{'selectedText':clickedDiv==='Part Time'}"  >Full Time</span></div>
            <div [ngClass]="{'selectedDiv':clickedDiv==='Vacation'}"  (click)="clickingDiv('Vacation')" class="smalldiv"  style="width:25%;display:flex;justify-content: space-evenly;"><span class="selectedDefault" [ngClass]="{'selectedText':clickedDiv==='Vacation'}">Full Time</span></div>
            <div [ngClass]="{'selectedDiv':clickedDiv==='Contract'}"  (click)="clickingDiv('Contract')" class="smalldiv2"  style="width:25%;display:flex;justify-content: space-evenly;"><span class="selectedDefault"  [ngClass]="{'selectedText':clickedDiv==='Contract'}">Full Time</span></div>
        </div>
    </div>
    <div style="height:56px;width:13%">
    </div>
</div>



<div *ngIf="showPayType" class="row" style="width:100%;height:70px;background-color: #042763;">
    <div style="height:56px;width:7%">
    </div>
    <div style="height:56px;width:83%">
        <div class="container" style="width:100%" class="row">
            <div class="smalldiv1" style="width:10%;display:flex;justify-content: space-evenly;">
                <span style="color:white;">Full Time</span></div>
                
                <div class="smalldiv"  style="width:10%;display:flex;justify-content: space-evenly;"><span style="color:white;">Full Time</span></div>
                <div class="smalldiv"  style="width:10%;display:flex;justify-content: space-evenly;"><span style="color:white;">Full Time</span></div>
                <div class="smalldiv"  style="width:10%;display:flex;justify-content: space-evenly;"><span style="color:white;">Full Time</span></div>
                <div class="smalldiv"  style="width:10%;display:flex;justify-content: space-evenly;"><span style="color:white;">Full Time</span></div>
                <div class="smalldiv"  style="width:10%;display:flex;justify-content: space-evenly;"><span style="color:white;">Full Time</span></div>
                <div class="smalldiv"  style="width:10%;display:flex;justify-content: space-evenly;"><span style="color:white;">Full Time</span></div>
                <div class="smalldiv"  style="width:10%;display:flex;justify-content: space-evenly;"><span style="color:white;">Full Time</span></div>
                <div class="smalldiv"  style="width:10%;display:flex;justify-content: space-evenly;"><span style="color:white;">Full Time</span></div>
                <div class="smalldiv2"  style="width:10%;display:flex;justify-content: space-evenly;"><span style="color:white;">Full Time</span></div>
        </div>
    </div>
    <div style="height:56px;width:13%">
    </div>
</div>



<div *ngIf="showPayTypeSecond" class="row" style="width:100%;height:70px;background-color: #042763;">
    <div style="height:56px;width:7%">
    </div>
    <div style="height:56px;width:83%">
        <div class="container" style="width:100%" class="row">
            <div class="smalldiv1" style="width:10%;display:flex;justify-content: space-evenly;">
                <span style="color:white;">Full Time</span></div>
                
                <div class="smalldiv"  style="width:10%;display:flex;justify-content: space-evenly;"><span style="color:white;">Full Time</span></div>
                <div class="smalldiv"  style="width:10%;display:flex;justify-content: space-evenly;"><span style="color:white;">Full Time</span></div>
                <div class="smalldiv"  style="width:10%;display:flex;justify-content: space-evenly;"><span style="color:white;">Full Time</span></div>
                <div class="smalldiv"  style="width:10%;display:flex;justify-content: space-evenly;"><span style="color:white;">Full Time</span></div>
                <div class="smalldiv"  style="width:10%;display:flex;justify-content: space-evenly;"><span style="color:white;">Full Time</span></div>
                <div class="smalldiv"  style="width:10%;display:flex;justify-content: space-evenly;"><span style="color:white;">Full Time</span></div>
                <div class="smalldiv"  style="width:10%;display:flex;justify-content: space-evenly;"><span style="color:white;">Full Time</span></div>
                <div class="smalldiv"  style="width:10%;display:flex;justify-content: space-evenly;"><span style="color:white;">Full Time</span></div>
                <div class="smalldiv2"  style="width:10%;display:flex;justify-content: space-evenly;"><span style="color:white;">Full Time</span></div>
        </div>
    </div>
    <div style="height:56px;width:13%">
    </div>
</div>



<div *ngIf="showListedTime" class="row" style="width:100%;height:70px;background-color: #042763;">
    <div style="height:56px;width:7%">
    </div>
    <div style="height:56px;width:83%">
        <div class="container" style="width:100%" class="row">
            <div class="smalldiv1" style="width:16.667%;display:flex;justify-content: space-evenly;">
                <span style="color:white;">Full Time</span></div>
                
                <div class="smalldiv"  style="width:16.667%;display:flex;justify-content: space-evenly;"><span style="color:white;">Full Time</span></div>
                <div class="smalldiv"  style="width:16.667%;display:flex;justify-content: space-evenly;"><span style="color:white;">Full Time</span></div>
                <div class="smalldiv"  style="width:16.667%;display:flex;justify-content: space-evenly;"><span style="color:white;">Full Time</span></div>
                <div class="smalldiv"  style="width:16.667%;display:flex;justify-content: space-evenly;"><span style="color:white;">Full Time</span></div>
                <div class="smalldiv2"  style="width:16.667%;display:flex;justify-content: space-evenly;"><span style="color:white;">Full Time</span></div>
           
        </div>
    </div>
    <div style="height:56px;width:13%">
    </div>
</div>



<router-outlet></router-outlet>
<!-- <div class="container" >
<div style="width:100%">
    <h4 style="font-size:20px;margin-left:4%">Recent Searches</h4>
    <div class="col-md-12 row" style="max-width:1208px;padding:10px;width:100%;">

       
        <div class="col-md-11" style="display:flex;flex-wrap:wrap;align-items: flex-start">
            
            <div class="block" style="margin: 1%;padding:2px;width:30%;height:52px;background-color: #eee;">
                <div class="row" style="padding:2px">
                    <i style="color:#4964e9" class="fa fa-search" aria-hidden="true"></i>
                    <p style="color:#4964e9;font-size:15px;margin-left: 4px;">Angular</p>
                </div>
                <p style="font-size:15px;color:#5b6881">Australia</p>
    
    
    
    
            </div>


            <div class="block" style="margin: 1%;padding:2px;width:30%;height:52px;background-color: #eee;">
                <div class="row" style="padding:2px">
                    <i style="color:#4964e9" class="fa fa-search" aria-hidden="true"></i>
                    <p style="color:#4964e9;font-size:15px;margin-left: 4px;">Angular</p>
                </div>
                <p style="font-size:15px;color:#5b6881">Australia</p>
    
    
    
    
            </div>
    
    
        </div>
        <div class="col-md-1">
    
        </div>
    
        
    
    
    </div>
</div>
</div>

<div class="container" style="width:100%;">
    <div style="width:100%">
        <div class="col-md-12 row" style="max-width:1208px;padding:10px;width:100%;">
    
           
            <div class="col-md-11" style="display:flex;flex-wrap:wrap;justify-content: space-evenly;">
            
            <div class="row" style="display:flex">

                <img src="/assets/person1.png"> 
                <p style="color:white">This is</p>
            <span>
                
                <a class="a1">Sign in</a> or <a class="a1">Register</a> to see your saved searches and saved jobs on all your devices
            </span>  

            </div>    
        

        
            </div>
            <div class="col-md-1">
        
            </div>
        
            
        
        
        </div>
    </div>
    
</div>

<div style="width:100%;border-top:1px solid #eee;display:flex;justify-content: center;" class="top1">
    <div class="container" style="width:100%">

        <div style="width:80%" class="image"></div>
    
    </div>

</div> -->





